@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #caf0f8;
}

.main {
  display: flex;
  justify-content: space-between;
}

.auth-logo {
  height: 450px;
}
.auth-logo:hover {
  transform: none;
}

.placer {
  width: 100%;
  margin-bottom: 140px;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.body {
  width: 80%;
}

.early {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greet {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.desc {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.637);
  margin-top: 6px;
}

.help {
  margin-top: 6px;
  display: flex;
  width: 50%;
  padding: 2px 12px;
  justify-content: end;
  align-items: center;
  font-size: 12px;
  font-family: "poppins", sans-serif;
  color: #000000bc;
}

.forgot {
  font-weight: 500;
  color: purple;
  cursor: pointer;
}
.forgot:hover {
  color: purple;
}

.inputs {
  margin-top: 12px;
  width: 50%;
  height: 34px;
  outline: none;
  border: 1px solid #03045e;
  padding: 8px 12px;
  border-radius: 12px;
  font-family: "poppins", sans-serif;
}
.inputs:focus {
  box-shadow: none;
}

.btn {
  margin-top: 4px;
  padding: 8px 12px;
  height: 35px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03045e;
  border: 0px;
  outline: none;
  border-radius: 8px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
.btn:hover {
  background-color: #03045e;
  transform: none;
}

.info {
  padding: 4px 12px;
  width: 50%;
  margin-top: 4px;
  font-weight: light;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.reg {
  margin-left: 2px;
  font-weight: 500;
  color: purple;
  cursor: pointer;
}
.reg:hover {
  color: purple;
}

.right {
  background-color: #03045e;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #0000008a;
  margin-bottom: 4px;
}

.all {
  display: flex;
}

.head {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #03045e;
  font-weight: 600;
}

.e {
  font-size: 12px;
}

.m {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.details {
  padding: 4px;
  width: 100%;
  font-size: 14px;
  display: flex;
  font-family: "Montserrat", sans-serif;
}
.whole{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Removed all animations and keyframes */

@media screen and (max-width: 764px) {
  .all {
    display: flex;
    flex-direction: column-reverse;
  }

  .main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .auth-logo {
    height: 180px;
  }

  .right {
    background-color: transparent;
    height: min-content;
    width: 100%;
  }

  .top {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .left {
    display: flex;
    flex-direction: column;
    height: 63vh;
    width: 100%;
  }

  .placer {
    margin-bottom: 0px;
  }

  .body {
    width: 70%;
  }

  .inputs {
    width: 100%;
    padding: 8px 12px;
  }

  .help {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .bottom {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: #0f0f0f99;
  }

  .info {
    width: 95%;
  }
}
